::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block
}
body {
  margin: 0;
  background-color: #172026;
  color: #CDCED0;
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  width: 100%;
  overflow-x: hidden;
}
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0!important
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  color: #AD359E;
  font-family: 'AA Bebas Neue';
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h3 {
  font-size: 40px;
  line-height: 65px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #CDCED0;
}
abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0
}

ul li {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #CDCED0;
  list-style: none;
  padding: 0 0 0 20px;
  margin: 0 0 34px 0;
  position: relative;
}

ul li::before {
  content: '';
  width: 8px;
  height: 8px;
  background: #AD359E;
  position: absolute;
  display: block;
  left: 0;
  top: 10px;
  border-radius: 100%;
}
dt {
  font-weight: 700
}
dd {
  margin-bottom: .5rem;
  margin-left: 0
}
blockquote {
  margin: 0 0 1rem
}
b,
strong {
  font-weight: bolder
}
small {
  font-size: 80%
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
a {
  color: #DE50CC;
  text-decoration: none;
  background-color: transparent
}
a:hover {
  color: #9b1f8a;
  text-decoration: underline
}
a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none
}
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none
}
code,
kbd,
pre,
samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar
}
figure {
  margin: 0 0 1rem
}
img {
  vertical-align: middle;
  border-style: none
}
svg {
  overflow: hidden;
  vertical-align: middle
}
table {
  border-collapse: collapse
}
caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent
}
label {
  display: inline-block;
  margin-bottom: .5rem
}
button {
  border-radius: 0
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[role=button] {
  cursor: pointer
}
select {
  word-wrap: normal
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
textarea {
  overflow: auto;
  resize: vertical
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal
}
progress {
  vertical-align: baseline
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button
}
output {
  display: inline-block
}
summary {
  display: list-item;
  cursor: pointer
}
template {
  display: none
}
[hidden] {
  display: none!important
}
::-webkit-input-placeholder {
  color: #666
}
::-moz-placeholder {
  color: #666
}
:-ms-input-placeholder {
  color: #666
}
::-ms-input-placeholder {
  color: #666
}
::placeholder {
  color: #666
}
::-moz-selection {
  background-color: orange;
  color: #fff
}
::selection {
  background-color: orange;
  color: #fff
}
input,
textarea {
  outline: 0
}
input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red
}
input:required:valid,
textarea:required:valid {
  border-color: green
}

.content {
  font-weight: 300;
  font-size: 20px
}
.container {
  max-width: 1200px;
  margin: 0 auto
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.art-button {
    display: inline-block;
    position: relative;
    background: #8C267D;
    /*background-image: linear-gradient(to right, #6E2A80, #8C267D);*/
    background-image: linear-gradient(to right, #6E2A80, #8C267D,  #6253e1, #852D91);
    background-size: 300% 100%;
    border-radius: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px;
    font-family: 'AA Bebas Neue';
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    padding: 0 78px;
    line-height: 60px;
    text-decoration: none;
    font-weight: normal;
}

.art-button:hover {
    color: #fff;
    text-decoration: none;
    /*background: linear-gradient(87.25deg, #541864 0%, #751f68 100%);*/
    /*background: #541864;*/
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* header */

header {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

header .top-header {
    padding-top: 30px;
    position: relative;
    z-index: 1;
}

header .top-header .links-top a {
    font-family: 'AA Bebas Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    padding: 0 21px;
}

header .top-header .links-top a:last-child {
    padding-right: 0;
}

header .header-info .uptitle {
    margin-top: 123px;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #6E2A80;
    margin-bottom: 13px;
}

header .header-info h1 {
    max-width: 434px;
    font-family: 'AA Bebas Neue';
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.05em;
    color: #FAFAFA;
    margin-bottom: 45px;
    font-weight: normal;
}

header .header-info h1 span {
    color: #AD359E;
}

header .header-info .block-left {
    width: 40%;
    padding-bottom: 400px;
}

header .header-info .block-right {
    width: 60%;
    position: relative;
}

header .header-info .block-right .round-bg {
    position: absolute;
    right: -327px;
    top: -98px;
}

header .header-info .block-right .model {
    position: absolute;
    right: -327px;
    top: -45px;
    animation: rotation 6s linear forwards;
}

header .header-info .block-right .polkadot {
    position: absolute;
    right: 50%;
    bottom: 301px;
    margin-right: -136px;
}

@keyframes rotation {
    0% {
      transform: rotate(0) scale(1);
    }
    50% {
      transform: rotate(20deg) scale(1.1);
    }
    100% {
        transform: rotate(0) scale(1);
      }
}

.surface {
    position: absolute;
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
    height: 1158px;
    z-index: 0;
    left: 0;
}

.surface .surface-bg {
    height: 1158px;
    width: 1162px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}

/* programm */

.programm {
  margin-top: -111px;
  position: relative;
  z-index: 1;
}

.programm-wrap .block-left {
  position: relative;
  max-width: 40%;
  width: 100%;
}

.programm-wrap .block-left .network {
  position: absolute;
  top: -224px;
  left: -57px;
}

.programm-wrap .block-left .round-bg {
  position: absolute;
  top: -97px;
  left: -90px;
  width: 494px;
  height: auto;
}

.programm-wrap .block-right {
  max-width: 57%;
  width: 100%;
}

.programm-wrap .block-right h3 {
  margin-bottom: 63px;
}

.programm-wrap .block-right .programm-ul {
  max-width: 288px;
  width: 100%;
}

.programm-wrap .block-right ul {
  padding: 0;
  margin: 0;
}


/* speekers */

.speekers {
  margin-top: 128px;
  padding-top: 98px;
  padding-bottom: 134px;
  background: url(../images/pattern.png) top right no-repeat;
}

.speekers-wrap .block-left {
  width: 40%;
}

.speekers-wrap .block-left h3 {
  margin-bottom: 60px;
}

.speekers-wrap .block-left p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #CDCED0;
  margin-bottom: 36px;
}

.speekers-wrap .block-right {
  width: 51%;
  position: relative;
  margin-top: 19px;
}

.speekers-wrap .block-right::before {
  content:'';
  width: 280px;
  height: 280px;
  display: block;
  position: absolute;
  background: linear-gradient(87.25deg, #6E2A80 0%, #8C267D 100%);
  top: 15px;
  left: 15px;
  z-index: -1;
}

.speekers-wrap .block-right .text-block {
  max-width: 265px;
  width: 100%;
}

.speekers-wrap .block-right .text-block .name {
  max-width: 140px;
  font-family: 'AA Bebas Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FAFAFA;
  margin: 45px 0 29px;
}

.speekers-wrap .block-right .text-block .position {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #9FA3A5;
}

/* owl carusel */

.owl-item {
  display: inline-block;
}

.owl-stage-outer {
  overflow: hidden;
}

.owl-nav {
  position: relative;
  z-index: 3;
}

.owl-nav button {
  position: absolute;
  background: none;
  border: 0;
  outline: none;
  bottom: -10px;
  right: 0;
}

.owl-nav button.owl-prev {
  right: 40px;
}

.owl-nav button.disabled svg path,
.owl-nav button.disabled:hover svg path {
  fill: #727272;
}

.owl-nav button:hover svg path {
  fill:#C554F9;
  transition: 0.5s;
}

/* owl end */

/* bonus */

.surface-wrap {
  width: 100%;
  position: relative;
  pointer-events: none;
}

.surface2 {
  position: absolute;
  max-width: 1920px;
  width: 100%;
  overflow: hidden;
  height: 889px;
  z-index: 0;
  left: 0;
  top: -189px;
}

.surface .surface-bg {
  height: 889px;
  width: 1344px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
}

.bonus {
  position: relative;
  padding-top: 150px;
  width: 100%;
  overflow: hidden;
  margin-top: -100px;
}

.bonus .bonus-wrap {
  background: #1B252D;
  border-radius: 50px;
  height: 375px;
}

.bonus .bonus-wrap .block-left {
  width: 40%;
  padding-top: 67px;
  padding-left: 102px;
}

.bonus .bonus-wrap .block-right {
  position: relative;
  width: 40%;
}

.bonus .bonus-wrap .block-right img {
  position: absolute;
  top: -191px;
  right: -58px;
}

.bonus .bonus-wrap .block-left h3 {
  margin-bottom: 29px;
  font-size: 50px;
}

.bonus .bonus-wrap .block-left .text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #CDCED0;
  margin-bottom: 24px;
  max-width: 277px;
}

.bonus .bonus-wrap .block-left .text span {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #AD359E;
}

/* footer */

footer {
  background: #151D23;
  margin-top: 120px;
  padding: 50px 0;
 
}

.footer-1 {
  max-width: 218px;
}

.footer-1 .logo {
  margin-bottom: 33px;
}

.footer-1 a {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #6D7278;
  display: block;
}

.footer-2 {
  margin-top: 3px;
  margin-left: -75px;
}

.footer-2 .item {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #595D61;
  margin-bottom: 18px;
}

.footer-2 .item:last-child {
  margin-bottom: 0;
}

.footer-2 .item .label {
  margin: 0;
  display: block;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #B5B7B9;
}

.footer-2 .item.email .label {
  display: inline-block;
}

.footer-2 .item a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #AD359E;
}

.footer-3 {
  width: 190px;
  margin-right: 88px;
}

.footer-3 a:hover svg rect {
  fill: #6253e1;
  transition: 0.5s;
}

.footer-2 .polite-links {
  display: none;
}